[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dateutil = "==2.8.1"
CANard = "==0.2.2"
ConfigArgParse = "==1.2.3"

[requires]
python_version = "3.8"
